.home-book-footer{
    .home-book-btn{
        width: 100%;
        font-size: 14px;
        color: #3696EF;
        border: 1px solid #EDEEEE;
    }
}
.category-img1{
    img{
        border-radius: 0 0 10px 0;
    }
}